@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout des couleurs personnalisées */
:root {
  --cream: #F5F5DC;
  --green: #008000;
  --darkGreen: #006400;
}

.bg-cream {
  background-color: var(--cream);
}

.text-green {
  color: var(--green);
}

.hover\:bg-darkGreen:hover {
  background-color: var(--darkGreen);
}

  
  @media (orientation: portrait) {
    body {
      display: none; /* Bloque l'affichage en portrait */
    }
  }
  
